[flake8]
max-line-length = 100
exclude = .git,__pycache__,.venv,venv,build,dist,.eggs,*.egg-info
ignore = E203,W503,E501
extend-ignore = D100,D104
docstring-convention = google
per-file-ignores =
    __init__.py:F401
    tests/*:D100,D101,D102,D103
